<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="/static/main.css" />
	<title>Final Wiki</title>
</head>

<body>
	<div class="header">
		<div class="controls">
			{% if user %}
				{{user.name}}(<a href="/logout">logout</a>)
			{% else %}
				<a href="/login">login</a>|
				<a href="/signup" style="margin-right:10px">signup</a>
			{% endif %}
		</div>

		<div class="controls">
			{% block navigation %}
			{% endblock %}
		</div>

		<div class="clear"></div>
	</div>

	<div id="content">
		{% block content %}
		{% endblock %}
	</div>

</body>

</html>